<!DOCTYPE html>
<html>
<head>
  <title>Socket IO</title>
  <script src="https://code.jquery.com/jquery-2.2.2.min.js"
          integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>

<form action="messages" method="PUT">
  <div class="form-group col-xs-12 floating-label-form-group controls">
    <input id="m" placeholder="text" name="text" type="text"
           class="form-control"/>
  </div>
  <button type="submit">POST</button>
</form>

<ul id="messages">

</ul>

  <script>
  var socket = io.connect();
  $('form').submit(function(){
    socket.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
  });

  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });
  </script>
</body>
</html>